body{
	background-color: #F0F0F0;
	font-family: FontAwesome;
}
.left_header{
	position: relative;
	display: inline-block;
	background-image: url(../image/logo.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100px;
	height: 80px;

}
.right_header{
	position: relative;
	display: inline-block;
	width: 100%;
	/* left: 5%; */
}
.header{
/*	background-color: yellow;
*/}
.navbar-inverse{
	background-color: #FDD504;
}
.navbar-inverse .navbar-nav>li>a{
	color: black;
}
.navbar{
	font-family: FontAwesome;
}
.home:before{
	content:"\f015";
	font-size: 33px;
}
.home,.phone,.tv,.tablet{
	width: 24%;
}
.phone:before{
	content:"\f10b";
	font-size: 33px;
}
.tv:before{
	content:"\f108";
	font-size: 33px;

}
.tablet:before{
	content:"\f10a";
	font-size: 33px;

}
.navbar-nav>li{
	text-align: center;
}

.nav_title{
	width: 82%;
}
.navbar-nav>li>a{
	display: inline-block;
}

#slides_control > div{
  height: 200px;
}
img{
  margin:auto;
  width: 49%;
}
#slides_control {
  position: relative;
  /* width: 90%; */
  bottom:20px;
  /* left: 5%; */
}
.carousel-indicators{
	bottom: -43px;
}
.carousel-indicators li{
	border: 1px solid red;
}
/*Khang design home_content*/
.content{
	position: relative;
	display: block;
	top: 100px;
/*	left: 5%;
*/}
.product_content{
	float: left;
	width: 70%;
}
.product_image{
	position: relative;
	display: inline-block;
	width: 49.1%;
	margin-right: 0.8%;
	background-color: white;
	margin-bottom: 8px;
	cursor: pointer;
}
.image_inside{
	position: relative;
	left: 5px;
	top:6px;
	margin-left: -4px;
/*	border: 1px solid grey; 
*/	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
	height: 100px;
	width: 100%;
}
.product_text{
	position: relative;
	top: 6px;
	line-height: 24px;
	text-align: center;
	height: 60px;
}
.image_inside{
	z-index: 1;
}
.galllery_image{
	position: relative;
	text-align: center
}
.hover{
	position: relative;
	z-index: 1;
}
.hover:hover{
	opacity: 0.1;
	cursor: pointer;
}
.des_text{
	position: absolute;
    bottom: 45%;
    text-align: center;
    width: 100%;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    opacity: 1;
}
.des_text.ng-hide{
	opacity: 0;
}
.product_price{
	position: relative;
	width: 50%;
	left: 24%;
	border: 1px solid grey;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
	border-radius: 4px;
	background-color: #f3d078;
	text-align: left;
	text-indent: 5px;
}
.model_text{
	position: relative;
	width: 50%;
	left: 27%;
	text-align: left;
}

.price_text{
	position: relative;
	display: inline-block;
	width: 71%;
}
.cart{
	position: relative;
	display: inline-block;
	width: 24%;
	background-color: #22282f;
	color: white;
	text-align: center;
	text-indent: 6px;
	border-radius: 4px;
}
.cart:after{
	content:"\f07a";
}

.parent_container{
	 max-width: 1200px;
	 width: 100%;
	 min-width: 980px;
	 margin: 0px auto 0;
}
.news_content{
	position: relative;
	display: inline-block;
	width: 30%;
	
}
.header_news{
	position: relative;
	display: block;
	border-bottom: 3px solid #fdd504;
	background: #f0f0f0;
	bottom: 19px;

}
.main_news{
	position: relative;
	display: block;
}
.news_image{
	background-repeat: no-repeat;
	background-size: contain;
	width: 100px;
	height: 100px;
	position: relative;
	display: inline-block;
	bottom: 6px;
}
.news_des{
	position: relative;
	display: inline-block;
	width: 65%;
	font-size: 13px;
	color: black;
}
.news_des:hover{
	color: #397EB9;
	text-decoration: none;
}
.news_container{
	margin-bottom: 10px;
	border-bottom: 1px solid grey;
	position: relative;
	display: block;
	bottom: 12px;
	/* line-height: 3px; */
}
.news_content h2{
	position: relative;
	display: inline-block;
	padding: 12px 20px 8px;
	background: #fdd504;
	line-height: 1.3em;
	font-size: 17px;
	color: #000;
	text-transform: capitalize;
	text-align: center;
}
.news_content b{
	position: relative;
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 36px solid #c5a500;
	top: 13px;
	right: 4px;
}