<div class="header">

	<div class="left_header">
	</div>

	<div class="right_header">
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div>
		      <ul class="nav navbar-nav nav_title">
		        <li class="home"><a href="#/home">Home</a></li>
		        <li class="phone"><a href="#/phone">Phone</a></li>
		        <li class="tv"><a href="#/tv">TV</a></li> 
		        <li class="tablet"><a href="#/tablet">Tablet</a></li> 
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
	</div>
</div>