	<div class="header" ng-include="'./template/header.html'">
	</div>

	<div class="swiper" id="slides_control" ng-repeat="swiper in swipers">
		<div>
			<uib-carousel interval="myInterval">
				<uib-slide ng-repeat="img in swiper.image" active="slide.active">
					<img ng-src="./image/swiper/{{img.path}}">
				</uib-slide>
			</uib-carousel>
		</div>
	</div>


	<div class="content" ng-repeat="product in products">
		<div class="product_content">
			<div class="product_image" ng-repeat="image in product.image_home">
				<div class="image_inside" style="background-image:url(image/home/{{image.full}})"></div>
				<div class="product_text">
					<div class="product_model">Model: {{image.model}}</div>
					<div class="product_price">Price: {{image.price}}</div>
				</div>
			</div>
		</div>
	</div>		
