<div class="parent_container">
	<div class="header" ng-include="'./template/header.html'">
	</div>

	<div class="swiper" id="slides_control" ng-repeat="swiper in swipers">
		<div>
			<uib-carousel interval="myInterval">
				<uib-slide ng-repeat="img in swiper.image" active="slide.active">
					<img ng-src="./image/swiper/{{img.path}}">
				</uib-slide>
			</uib-carousel>
		</div>
	</div>


	<div class="content">
		<div class="product_content" ng-repeat="product in products">
			<div class="product_image" ng-repeat="image in product.image_home">
				<div class="hover" ng-mouseover="hoverIn(image)" ng-mouseleave="hoverOut(image)">
					<div class="image_inside" style="background-image:url(image/home/{{image.full}})"></div>
					<div class="product_text">
						<div class="hover_text">
						 	<div class="model_text">{{image.model}}</div>
							<div class="product_price">
								<div class="price_text">Price:	{{image.price}}</div>
								<div class="cart"></div>
							</div>
						</div>
					</div>
				</div>	
				<div class="des_text" ng-show="image.hoverEdit">
					<div class="monitor">Display:{{image.display}}</div>
					<div class="cpu">CPU:{{image.cpu}}</div>
					<div class="ram">Ram:{{image.ram}}</div>
				</div>
			</div>
		</div>
		<div class="news_content">
			<div class="header_news">
				<h2> What's New</h2>
				<b></b>
			</div>
			<div class="main_news">
				<div class="news_parent" ng-repeat="product in products">
					<div class="news_container" ng-repeat="news in product.news_home">
						<a ng-href="{{news.link}}">
							<img class="news_image" style="background-image:url(image/home/{{news.news_img}})"/>
							<h3 class="news_des"> {{news.des_news}}	</h3>	
						</a>
					</div>
				</div>	
			</div>
		</div>
	</div>		
</div>